body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #303030;
    color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.senha-container{
    width: 400px;
    background-color: #1F1F1F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}
.senha-header{
    padding: 1rem;
}
.senha{
    width: 100%;
    height: 70px;
    background-color: #131313;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
}
.senha button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    background-color: #1F1F1F;
    padding: 0.25rem 1rem;
    font-family: inherit;
    font-weight: bold;
    color: #FFF;
    border: none;
    cursor: pointer;
}
.senha:hover button{
    opacity: 1;
    transform: translate(0, -80%);
}
.senha-body{
    padding: 0 1rem 1rem;
}
.form-controle{
    color: #EEE;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}
.gerador{
    display: block;
    background-color: #4B4949;
    color: white;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
}