@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins';
}
button{
    border-radius: 5px;
    background: #4B4949;
    color: #FFF;
    border: solid 1px #FFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    transition: all .2s ease-in-out;
}
button:hover{
    background-color: transparent;
    color: #FFF;
}
#horas, #minutos, #segundos, #decimos{
    font-size: 2em;
}
.embrulho{
    color: #FFF;
    text-align: center;
    background-color: #171717;
    padding: 20px;
    border-radius: 12px;
    letter-spacing: 4px;
}