*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    letter-spacing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    letter-spacing: .2rem;
    background-color: #CCC;
}
body, html{
    height: 100%;
}
ul, li{
    list-style-type: none;
}
button{
    cursor: pointer;
}
ion-icon{
    color: #4D4D4D;
    font-size: 18px;
}
input[type="submit"]{
    background-color: #60b64f;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem 3rem;
}
input[type="submit"]:hover{
    background-color: #b7f5aa;
}
.lista-tarefas__app{
    background-color: #8a8a8a;
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(77, 77, 77, .5);
    margin: auto;
    min-width: 37.5rem;
}
.lista-tarefas-add-item__container{
    background-color: #4d4d4d;
    border-radius: 3px 3px 0 0;
    padding: 3rem 2rem;
}
.lista-tarefas-add-item__container > .titulo{
    color: seashell;
    font-size: 3rem;
}
.lista-tarefas-add-item{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0 1rem 0;
}
.inputItem{
    flex-grow: 1;
    padding: 0 1rem;
    outline: transparent;
}
.inputItem::placeholder{
    color: #A8A8A8;
}
.lista-tarefas__container{
    padding: 2rem;
}
.lista-tarefas-item{
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(77, 77, 77, .5);
    column-gap: .8rem;
    display: flex;
    grid-template-columns: 1fr minmax(20rem, auto) 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 0 2rem;
    padding: .8rem 2rem;
    position: relative;
}
.lista-tarefas-item:last-child{
    margin-bottom: 0;
}
.btn-completo{
    align-self: center;
    border: 2px solid #356be0;
    border-radius: .2rem;
    grid-column: 1/2;
    justify-self: center;
    position: relative;
    outline: transparent;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #8A8A8A;
}
.fa-circle-check{
    color: #0d5097;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.fa-circle-check.displayNone{
    display: none;
}
.nome-tarefa{
    background-color: transparent;
    font-size: 1.1rem;
    grid-column: 2/3;
    padding: 1rem;
}
.fa-pen-to-square{
    grid-column: 3/4;
}
.editContainer{
    align-items: center;
    background-color: #cbcbcb;
    border-radius: .4rem;
    box-shadow: 3px 3px 15px rgba(77, 77, 77, .8);
    width: 120%;
    height: 6rem;
    top: 4rem;
    left: 2rem;
    position: absolute;
    z-index: 99999;
    display: flex;
    justify-content: space-evenly;
    display: none;
}
.editContainer .editInput{
    background-color: transparent;
    border: none;
    border: 2px solid #363536;
    border-radius: .2rem;
    padding: .5rem 1rem;
}
.editContainer .editInput:focus{
    outline: none;
}
.editContainer .btn-editar, .editContainer .btn-cancelar{
    border: none;
    outline: transparent;
    padding: .7rem 2rem;
}
.editContainer .btn-editar{
    background-color: #3d8a46;
    color: seashell;
}
.editContainer .btn-editar:hover{
    background-color: #5bcc68;
}
.editContainer .btn-cancelar{
    background-color: #8A3D3D;
    color: seashell;
}
.editContainer .btn-cancelar:hover{
    background-color: #6F3131;
    color: seashell;
}
.fa-trash-can{
    grid-column: 4/-1;
}
.fa-pen-to-square, .fa-trash-can{
    align-self: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    justify-self: center;
}
.fa-pen-to-square:hover, .fa-trash-can:hover{
    border: none;
    transform: scale(1.2, 1.2);
    outline: none;
}
.fa-trash-can{
    color: #C70039;
}
.fa-trash-can:hover{
    color: #e75050;
}
.fa-pen-to-square{
    color: #1A0577;
}
.fa-pen-to-square:hover{
    color: #4f68d6;
}
.fa-pen-to-square:active, .fa-trash-can:active{
    border: none;
    outline: none;
    transform: scale(1, 1);
}
